/*Font Reser*/
h1{font-size:250%;font-family:Myriad Pro, Helvatica, Arial, sans-serif}
h2{font-size:225%;font-family:Myriad Pro, Helvatica, Arial, sans-serif}
h3{font-size:200%;font-family:Myriad Pro, Helvatica, Arial, sans-serif}
h4{font-size:175%;font-family:Myriad Pro, Helvatica, Arial, sans-serif}
h5{font-size:150%;font-family:Myriad Pro, Helvatica, Arial, sans-serif}
h6{font-size:125%;font-family:Myriad Pro, Helvatica, Arial, sans-serif}
p{font-size:100%;font-family:Myriad Pro, Helvatica, Arial, sans-serif;line-height:23px}
a{text-decoration:none;font-family:Myriad Pro, Helvatica, Arial, sans-serif;}

.navbar{height:10px;background-color:#2ecc71}/*navbar*/
.header
{
	background:url('../img/aircraft-19218_1280.png');
	height:600px;
	background-size:cover;
}
.header-center{width:1010px;margin:auto;}
.logo
{
    position:absolute;
    top:180px;
}

.description
{
    font-family:Myriad Pro,Helvatica, Arial, sans-serif;
    font-size:24px;
    position:absolute;
    top:297px;
    width:458px;
    color:#fff
}

.icons
{
    position:absolute;
    top:30px;
    right:30px;
}

.icons em{color:#f2f2f2;background-color:#000;padding:15px 20px;opacity:0.5;margin-right:10px;border-radius:30px}
.icons em:hover{background-color:#2ecc71;opacity:1.0}
.windows em{padding:15px 18px}

.hand
{
    float:right;
    top:83px;
    position:relative;
}

.clear{clear:both}

/*Property*/
.property{background-color:#fff;height:335px;clear:both;}
.center{width:1180px;margin:auto}

.box
{
    
    width:330px;
    padding:60px 0;
    float:left;
    margin-right:80px
}

.end{margin-right:0px}

.box i
{
    background-color:#2ecc71;
    color:#fff;
    text-align:center;
    vertical-align:middle;
    padding:20px;
    border-radius:50px;
    margin:auto;
    display:block;
    width:50px
}
.box h6{text-align:center;font-size:120%;line-height:60px;font-weight:500}
.box p{color:#848484;line-height:24px;text-align:center}

/*Video and Notify*/
.video{background-color:#e3e3e3;padding:50px 0;}
.notify
{
    width:540px;
    float:left;
}
.notify p{margin:10px 0;color:#848484;font-size:16px;}
.notify form input[type="text"]{color:#848484;padding:14px 20px;font-family:Myriad Pro;font-size:17px;border-radius:10px 0 0 10px;margin:0px;border:1px #c8c8c8 solid;width:220px}
.notify form input[type="button"]{background-color:#2ecc71;cursor:pointer;font-family:Myriad Pro;font-size:17px;padding:15px 25px;color:#fff;border-radius:0 10px 10px 0px;margin:0px;border:0px}
.vimeo-video{float:right;}

/*Our Team*/
.team{height:355px;padding:55px 0 30px;}
.say{width:800px;text-align:center;font-style:italic;color:#848484;display:block;margin:auto}
.say span{margin:15px auto 25px;display:block;font-weight:bold;font-style:normal;color:#111}
.people{margin:auto;width:980px}
.people img{width:50px}
a{ float:left; margin-right:4px  }
a { margin-bottom:6px }
.people a { background:green }
.people a:hover img    { opacity:.5; }
.team h6{font-weight:bold;margin:50px auto 15px;display:block;text-align:center;}
.lorem{color:#848484;text-align:center}
.social-icons{width:350px;margin:20px auto;}
.social-icons i{background-color:#d4d4d4;opacity:0.9;color:#fff;margin-right:10px;padding:10px;border-radius:30px}.faf{padding:10px 15px!important}
.social-icons i:hover{background-color:#62d995;}

/*Footer*/
.footer{height:130px;background-color:#e3e3e3}
.footer-center{width:580px;margin:auto}
.footer-menu li{float:left;line-height:130px;margin-right:30px}
.footer-menu li a{color:#848484;}